---
import Layout from '../../layouts/Layout.astro';
import Consulta from '../../components/Consulta.astro';
import EquipoEsp from '../../components/EquipoEspecial.astro';

import img1 from '@assets/tratamientos/image04.png';
import img2 from '@assets/tratamientos/unhaEncarnada2.png';

---
<Layout title="Pododinamic | Plantillas">
    <div class="relative z-40 w-full my-4 h-[80%]">
        <swiper-container navigation="true" loop="true" autoplay autoplay-delay="8000" pagination="true" class="estiobp w-[90%] h-full rounded-lg z-20">
          <swiper-slide class="relative">
            <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
              <div class="h-full lg:w-[45%] w-full flex justify-center items-center">
                <img src={img1.src} alt="" class="lg:h-[90%] w-full">
              </div>
              <div class="text-center lg:w-[45%] w-full flex flex-col justify-center items-center p-2">
                <h6 class="uppercase text-[#8FC751]">tratamiento</h6>
                <h2 class="uppercase text-[#1579BD] lg:text-6xl text-2xl font-bold">uña</h2>
                <h3 class="uppercase text-[#55BABB] lg:text-4xl text-xl">encarnada</h3>
                <div class="w-[90%] lg:w-[75%] flex flex-col justify-center mt-3">
                  <p class="text-[#000]">Desde un punto de vista genérico, los tratamientos para las uñas encarnadas pueden ser conservadoras o quirúrgicos.</p>
                </div>
              </div>
            </div>
            
          </swiper-slide>
          <swiper-slide>
            <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
              <div class="h-full lg:w-[45%] w-full flex justify-center items-center">
                <img src={img2.src} alt="" class="h-[90%] w-full">
              </div>
              <div class="text-center lg:w-[45%] w-full flex flex-col justify-center items-center">
                <div class="w-[90%] lg:w-[75%] flex flex-col justify-center text-left p-2">
                  <p class="text-[#000] lg:text-base text-sm">Ofrecemos los siguientes tratamiento:</p>
                  <ul class="lg:mt-4 mt-2 list-disc text-xs lg:text-base">
                    <li>En estados iniciales o en pacientes muy jóvenes, se recomiendan los tratamientos conservadores, como la ortonixia, que consiste en el uso de dispositivos parecidos a los brackets que utilizan los odontólogos, con el objetivo de revertir la convexidad de la uña y evitar que esta se clave.</li>
                    <li>En casos más avanzados y cuando existe infección, la recomendación son los tratamientos quirúrgicos cuya finalidad es eliminar definitivamente el trozo de uña que se clava, y la matriz correspondiente, evitando que esta se vuelva a clavar.</li>
                  </ul>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
      
      <script>
        import { register } from "swiper/element/bundle";
        register();
      </script>
        <EquipoEsp />
      <Consulta />
</Layout>
<style>
  swiper-container::part(button-next) {
  @apply hidden lg:block;
}
  swiper-container::part(button-prev) {
    @apply hidden lg:block;
}
  swiper-container::part(bullet-active) {
  background-color: #0197BF;
  width: 16px;
  height: 16px;
}
swiper-container::part(bullet) {
  background-color: #0197BF !important;;
  width: 16px;
  height: 16px;
}
</style>