---
import Layout from '../../layouts/Layout.astro';
import Consulta from '../../components/Consulta.astro';
import EquipoEsp from '../../components/EquipoEspecial.astro';

import img1 from '@assets/tratamientos/image04.png';
import img2 from '@assets/tratamientos/image04b.png';

---
<Layout title="Tratamiento | Uña Encarnada">
      <div class="px-2">
        <section class="scroll-nav w-full h-[90vh] my-4">
          <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-center gap-12 items-center w-full h-[80%]">
            <div class="lg:w-[35%] w-[80%]">
              <img src={img1.src} alt="" class="w-full">
            </div>
            <div class="text-center lg:w-[45%] w-full flex flex-col justify-center items-center p-2">
                <h2 class="uppercase text-[#1579BD] lg:text-6xl text-2xl font-bold">uña</h2>
                <h3 class="uppercase text-[#55BABB] lg:text-4xl text-xl">encarnada</h3>
                <div class="w-[90%] lg:w-[75%] flex flex-col justify-center mt-3">
                  <p class="text-[#000]">La Uña Encarnada es una Enfermedad de las Uñas, esta afección aparece cuando el borde de la uña se clava en la carne blanda del dedo, provocando enrojecimiento, dolor, inflamación e incluso a veces infección.</p>
                </div>
            </div>
          </div>
        </section>
        
        <section class="scroll-nav w-full h-screen my-4">
          <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
            <div class="h-[40%] lg:h-full lg:w-[45%] w-[80%] flex justify-center items-center">
              <img src={img2.src} alt="" class="lg:h-[90%] w-full">
            </div>
            <div class="text-center lg:w-[45%] w-full flex flex-col justify-center items-center">
              <div class="w-[90%] lg:w-[75%] flex flex-col justify-center text-left p-2">
                <p class="text-[#8FC751]  text-sm lg:text-xl">Ofrecemos los siguientes tratamiento:</p>
                <ul class="lg:mt-4 mt-2 list-disc text-xs lg:text-base">
                  <li>En estados iniciales o en pacientes muy jóvenes, se recomiendan los tratamientos conservadores, como la ortonixia, que consiste en el uso de dispositivos parecidos a los brackets que utilizan los odontólogos, con el objetivo de revertir la convexidad de la uña y evitar que esta se clave.</li>
                  <li>En casos más avanzados y cuando existe infección, la recomendación son los tratamientos quirúrgicos cuya finalidad es eliminar definitivamente el trozo de uña que se clava, y la matriz correspondiente, evitando que esta se vuelva a clavar.</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        </div>
      
        <EquipoEsp />
      <Consulta />
</Layout>
<style>
	html{
		scroll-snap-type: y mandatory;
	}
	.scroll-item{
		scroll-snap-align: center;
	}
	.scroll-nav{
		scroll-snap-align: center;
	}
</style>