---
import Layout from '../../layouts/Layout.astro';
import Consulta from '../../components/Consulta.astro';
import EquipoEsp from '../../components/EquipoEspecial.astro';

import img1 from '@assets/especialidades/image09.png';
import img2 from '@assets/especialidades/image09b.png';
---
<Layout title="Podología | Personas Mayores">
      <div class="px-2">
        <section class="scroll-nav w-full h-[90vh] my-4">
          <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-center gap-12 items-center w-full h-[80%]">
            <div class="h-[40%] lg:h-full lg:w-[45%] w-[80%] flex justify-center items-center">
              <img src={img1.src} alt="" class="lg:h-[90%] w-full">
            </div>
            <div class="text-center lg:w-[45%] w-full flex flex-col justify-center items-center p-2">
              <h6 class="uppercase text-[#8FC751] leading-3">especialidad</h6>
              <h2 class="uppercase text-[#1579BD] leading-6 lg:text-6xl text-2xl font-bold">podología</h2>
              <h3 class="uppercase text-[#55BABB] leading-6 lg:text-4xl text-xl">personas mayores</h3>
              <div class="w-[95%] lg:w-[75%] flex flex-col justify-center mt-3">
                <p class="text-[#000] text-sm lg:text-base">En pododinamic ayudamos a tratar y minimizar las patologías y problemas que provoca el paso del tiempo en los pies de las personas mayores, y que contribuyen a disminuir su calidad de vida y a veces limitan su actividad física.</p>
              </div>
            </div>
          </div>
        </section>
        
        <section class="scroll-nav w-full h-screen my-4">
          <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
            <div class="h-[40%] lg:h-full lg:w-[45%] w-[80%] flex justify-center items-center">
              <img src={img2.src} alt="" class="lg:h-[90%] w-full">
            </div>
            <div class="text-center lg:w-[45%] w-full flex flex-col justify-center items-center">
              <div class="w-[95%] lg:w-[75%] flex flex-col justify-center text-left p-2">
                <ul class="lg:mt-4 mt-2 list-disc text-xs lg:text-base">
                  <li>Algunas de estas lesiones están directamente relacionadas con una forma de pisar defectuosa como metatarsalgias, espolones calcáneos, esguinces de repetición, neuroma de Morton, fascitis plantar, pie cavo o pie plano, y que pueden solucionarse de una forma muy efectiva con el tratamiento de plantillas personalizadas Pododinamic tras un estudio biomecánico específico.</li>
                  <li><span class="font-bold">Nuestras plantillas</span> también ayudan a compensar y corregir los problemas que el paso del tiempo ha causado en los pies como la pérdida de tejido adiposo (grasa plantar), modificaciones de la alineación del pie o la pérdida de fuerza y estabilidad, y también ayudan a corregir disfunciones de otras partes del cuerpo, como a nivel de espalda, rodillas y columna.</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        </div>
        <EquipoEsp />
      <Consulta />
</Layout>
<style>
	html{
		scroll-snap-type: y mandatory;
	}
	.scroll-item{
		scroll-snap-align: center;
	}
	.scroll-nav{
		scroll-snap-align: center;
	}
</style>