---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Pododinamic | Cursos"  >
	<main class="h-full">
        <h2>PAGINA CURSOS</h2>
		<div>
			<div class="w-full" >
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex facilis voluptatum ratione sint, ad consequatur iste cumque amet nemo? Ipsum voluptatum neque aspernatur necessitatibus ipsa quas quo, libero tempora veritatis!
				</p>
			</div>
		</div>

	</main>
</Layout>