---
import Layout from '../../layouts/Layout.astro';
import Consulta from '../../components/Consulta.astro';
import EquipoEspecial2 from '@components/EquipoEspecial2.astro';

import Video from '@components/Video.astro';

import img1 from '../../assets/estudioBP/estudiodelamarcha02.png';

---
<Layout title="Pododinamic | Estudio Biomecánico de la Pisada">
      <div class="px-2">
        <section class="w-full h-full mt-8 mb-12">
          <div class="flex lg:flex-row flex-col-reverse lg:justify-center justify-evenly items-center w-full h-full">
            <div class="lg:w-[35%] w-[80%]">
              <img src={img1.src} alt="" class=" w-full">
            </div>
            <div class="text-center lg:w-[35%] w-full flex flex-col justify-center items-center p-2">
              <h6 class="uppercase text-[#8FC751]">estudio</h6>
              <h2 class="uppercase text-[#1579BD] lg:text-6xl text-2xl font-bold">biomecánico</h2>
              <h3 class="uppercase text-[#55BABB] lg:text-4xl text-xl ">de la pisada</h3>
              <div class="w-[90%] lg:w-[75%] flex flex-col justify-center mt-3">
                <p class="text-[#000] lg:leading-6 lg:text-[17px]">Medir al paciente de forma dinámica con footscan le permite identificar riesgos potenciales que no pueden detectar solo con el ojo o incluso con una cámara combinada con una cinta de correr. La identificación de presiones máximas, zonas de riesgo y la línea 'Centro de presión' le brinda información valiosa en la evaluación biomecánica y el diseño ortopédico adecuado. Además, es una herramienta intuitiva que le ayuda a educar a su paciente sobre la biomecánica de su pie.</p>
              </div>
            </div>
          </div>
        </section>
        <Video />
        </div>
      <EquipoEspecial2 />
      <Consulta />
</Layout>