---
import Layout from '../layouts/Layout.astro';
import EquipoEspecial from '@components/EquipoEspecial2.astro';
import CategoryBar from '@components/CategoryBar.astro';
import Body from '@components/Body.astro';
import Slider from '@components/slider.astro';
import Consulta from '@components/Consulta.astro';
import Video from '@components/Video.astro';
---

<Layout title="Pododinamic | Plantillas personalizadas"  >
	<main>
		<div>
			<Slider />
			<CategoryBar />
			<Body />
			<EquipoEspecial />
			<Consulta />
		</div>

	</main>
</Layout>

