---
import plantillasP from "@assets/body/plantillasP.png";
import ia from "@assets/body/inteligenciaartif.png";

import material1 from "@assets/body/materialExcl.png";
import material2 from "@assets/body/materialExcl2.png";
---


<main class="flex flex-col justify-center items-center w-full gap-6 mb-8">
    <section class="my-5 w-full flex justify-center items-center flex-col">
        <div class="flex lg:py-4 lg:px-6 lg:w-[70%] w-full justify-evenly px-2 items-center rounded-2xl gap-2 lg:gap-4">
            <img src={plantillasP.src} alt="" class="w-[50%] lg:w-auto">
        <div class="text-right gap-2 flex flex-col w-[40%]">
            <h2 class="uppercase text-[#8FC751] lg:text-5xl lg:leading-8 leading-3">plantillas</h2>
            <h2 class="uppercase text-[#1579BD] lg:text-5xl font-bold lg:leading-8 leading-3">personalizadas</h2>
            <p class="lg:text-base text-[10px]">Plantillas ergonómicas 100% personalizadas, diseñadas, confeccionadas de acuerdo a información de baropodometria y molde tridimensional del pie. </p>
            <div class="w-auto pt-4">
                <a href="/contacto" class="rounded-lg py-2 px-8 bg-[#00bbbd] text-[#fff]">Informes</a>
            </div>
        </div>
    </div>
    <div class="flex lg:py-4 lg:px-6 lg:w-[70%] w-full justify-evenly px-2 items-center rounded-2xl gap-2 lg:gap-4">
        <div class="text-left gap-2 flex flex-col w-[40%]">
            <h2 class="uppercase text-[#8FC751] lg:text-5xl lg:leading-8 leading-3">inteligencia</h2>
            <h2 class="uppercase text-[#1579BD] lg:text-5xl font-bold lg:leading-8 leading-3">artificial</h2>
            <h2 class="text-[#55BABB] lg:text-2xl text-xs lg:leading-8 leading-4">FOOSCAN plate 1.5 m RSscan Software V9 Clinical</h2>
            <p class="lg:text-base text-[10px]">El algoritmo de análisis de riesgo de footscan está validado científicamente, demostrando el valor predictivo del software footscan V9 en el correcto pronóstico de riesgo de lesiones en extremidades inferiores, ofreciendo a cada cliente la solución óptima. </p>
            <div class="w-auto pt-4">
                <a href="/contacto" class="rounded-lg py-2 px-8 bg-[#8FC751] text-[#fff]">Informes</a>
            </div>
        </div>
        <img src={ia.src} alt="" class="w-[45%] lg:w-[40%]">
    </div>
    </section>
    <section class="my-5 w-full flex justify-center items-center flex-col">
        <div class="flex lg:py-4 lg:px-6 lg:w-[70%] w-full justify-evenly px-2 items-center rounded-2xl gap-2 lg:gap-4">
            <img src={material1.src} alt="" class="w-[50%] lg:w-auto">
            <div class="text-right gap-2 flex flex-col w-[40%]">
                <h2 class="uppercase text-[#8FC751] lg:text-5xl lg:leading-8 leading-3">material</h2>
                <h2 class="uppercase text-[#1579BD] lg:text-5xl font-bold lg:leading-8 leading-3">exclusivo</h2>
                <p class="lg:text-base text-[10px]">Utilizamos materiales europeos importados, hipoalergénicos, atóxicos, con memoria de recuperación rápida para deportistas y memoria lenta para geriatría, pie diabético, absorbente de impactos y para todos los tipos de pies.</p>
                <div class="w-auto pt-4">
                    <a href="/contacto" class="rounded-lg py-2 px-8 bg-[#1579BD] text-[#fff]">Informes</a>
                </div>
            </div>
        </div>
        <div class="flex lg:py-4 lg:px-6 lg:w-[70%] w-full justify-evenly px-2 items-center rounded-2xl gap-2 lg:gap-4">
            <div class="text-left gap-2 flex flex-col w-[40%]">
                <h2 class="uppercase text-[#8FC751] lg:text-5xl lg:leading-8 leading-3">tecnología</h2>
                <h2 class="uppercase text-[#1579BD] lg:text-5xl font-bold lg:leading-8 leading-3">sistema tad</h2>
                <h2 class="text-[#55BABB] lg:text-2xl text-xs lg:leading-8 leading-5">Molde de pie tridimensional</h2>
                <p class="lg:text-base text-[10px]">Un cojín de silicona con con microesferas ultra elásticas y resistente para la toma del molde del pie en carga.<br> Sabemos que cada paciente es único, y la TAD garantiza que el molde del pie sea diseñado específicamente para ti. </p>
                <div class="w-auto pt-4">
                    <a href="/contacto" class="rounded-lg py-2 px-8 bg-[#55BABB] text-[#fff]">Informes</a>
                </div>
            </div>
            <img src={material2.src} alt="" class="w-[50%] lg:w-auto">
        </div>
    </section>
</main>