---
import whatsapp from "@assets/whatsapp_logo_ico.png";
---

<main>
    <div class="fixed bottom-3 right-3 z-50 w-16">
        <a href="https://wa.me/51986113262?text=Hola+me+gustaria+saber+más+sobre+PointerERP" target="_blank" class="drop-shadow-2xl"> 
            <img src={whatsapp.src} alt="btn-whatsapp">
        </a>
    </div>
</main>