---
import logoB from "@assets/banner/logoB.png";
import podoIsoB from '../assets/banner/pododinamicisoB.png';
import cruzB from '../assets/banner/cruzB.png';

import bannerProm from '../assets/banner/bannerpromoc.png';
---

<section class="relative w-full lg:h-16 h-12">
  <img src={bannerProm.src} alt="" class="h-full w-full relative">

  <div class="absolute flex justify-center pt-2 lg:pt-[0.45rem] items-center lg:gap-6 gap-3 top-0 w-full text-[#fff]">
    <div class="flex justify-start h-full pb-6"><img src={cruzB.src} alt="" class="lg:w-5 w-3"></div>
      <img src={podoIsoB.src} alt="" class="lg:w-10 w-8">
      <span class="lg:text-4xl lg:block hidden">|</span>
      <h2 id="banner" class="lg:text-4xl text-sm uppercase">Te acompañamos en cada paso</h2>
    <div class="flex h-full lg:pt-8 pt-4"><img src={cruzB.src} alt="" class="lg:w-5 w-3"></div>
  </div>
</section>

<script is:inline>
  const phrases = [
    "Te acompañamos en cada paso",
    "plantillas dinámicas personalizadas",
    "análisis de la marchas"
  ];

  let currentIndex = 0;
  const banner = document.getElementById("banner");

  function updateBanner() {
    banner.textContent = phrases[currentIndex];
  }

  function nextPhrase() {
    currentIndex = (currentIndex + 1) % phrases.length;
    updateBanner();
  }

  function startBannerRotation() {
    setInterval(nextPhrase, 4000); // Cambia cada 5 segundos
  }

  // Inicia la rotación del banner al cargar la página
  document.addEventListener("DOMContentLoaded", startBannerRotation);
</script>