---
import pBiodinamicas from "@assets/subCategorias/pBiodinamic.png";
import aMarcha from "@assets/subCategorias/aMarcha.png";
import pComputarizada from "@assets/subCategorias/pComput.png";

import plantillaICO from "@assets/subCategorias/plantillaPB.png";
import lupaICO from "@assets/subCategorias/lupaAM.png";
import piesICO from "@assets/subCategorias/piesPC.png";

import bgPB from "@assets/subCategorias/bgPB.svg";
---



<section class="lg:my-3  flex items-center justify-center my-2 text-[#fff]">
    <div class="ctg-1 bg-[#55BABB] lg:px-20 lg:py-5 px-6 py-2">
        <a href="/"  class="btn-PB flex items-center w-full h-full justify-center flex-col text-xs lg:text-xl drop-shadow-lg">
            <h4 class="uppercase">plantillas</h4>
            <h4 class="uppercase font-bold">dinámicas</h4>
        </a>
    </div>
    <div class="ctg-2 drop-shadow-lg bg-[#8FC751] lg:px-20 lg:py-5 px-6 py-2">
        <a href="/"  class="btn-PB flex items-center w-full h-full justify-center flex-col text-xs lg:text-xl drop-shadow-lg">
            <h4 class="uppercase">análisis de</h4>
            <h4 class="uppercase font-bold">la marcha</h4>
        </a>
    </div>
    <div class="ctg-3 drop-shadow-lg bg-[#0197bf] lg:px-20 lg:py-5 px-6 py-2">
        <a href="/"  class="btn-PB flex items-center w-full h-full justify-center flex-col text-xs lg:text-xl drop-shadow-lg">
            <h4 class="uppercase">pedigrafía</h4>
            <h4 class="uppercase font-bold">computarizada</h4>
        </a>
    </div>
</section>
<style>
    .ctg-1{
        border-radius: 8rem 0 0 0;
    }
    .ctg-3{
        border-radius: 0 8rem 0 0;
    }
</style>