---
import whatsappICO from "@assets/header/iconos/whatsappICO.svg";
---

<div class="fondoC flex justify-center w-full text-[#fff]  items-center text-[10px] lg:text-base py-2 lg:gap-4 gap-2">
    <div>
        <h3>¿Tienes alguna consulta? Estamos para ayudarte :</h3>
    </div>
    <div class="flex lg:gap-2 gap-1 w-[25%] lg:w-auto">
        <a href="https://indri.pe/" class="lg:block hidden">
            <img src={whatsappICO.src} alt="">
        </a>
        <a href="tel:+51999888777">999888777</a>
        <span>/</span>
        <a href="tel:+51999666555">999666555</a>
    </div>
</div>
<style>
    .fondoC{
        background-image: url('../assets/header/bannersup.png');
        object-fit: cover;
    }
</style>