---
import equipo from "@assets/subFooter/profesional06.png";
import cruzB from "@assets/banner/cruzB.png";
---

<section>
    <div class="bg-[#0098c3] flex lg:justify-center items-center lg:p-4 px-2 py-4 lg:py-8 w-full relative">
        <div class="text-[#fff] flex flex-col items-center lg:w-[40%] lg:gap-4 gap-2 w-full h-full">
            <div class="flex flex-col text-center w-full  text-sm">
                <h2 class="font-bold lg:text-3xl leading-6">Equipo Profesional</h2>
                <h2 class="text-2xl leading-6">Especializado</h2>
                
            </div>
            <p class="lg:text-center w-[70%] lg:leading-6 lg:text-[17px] text-[10px]">PODODINAMIC, está conformado por un equipo de especialistas en Podología, Biomecánica de la marcha, Fisioterapia y técnicas ortopédicas de nivel europeo.</p>
        </div>
        <div class="w-[80%] lg:w-[45%]">
            <img src={equipo.src} alt="" class="w-full">
        </div>
        <img src={cruzB.src} alt="" class="lg:w-10 w-4 absolute lg:top-8 lg:left-40  left-6 top-4">
        <img src={cruzB.src} alt="" class="lg:w-14 w-8 absolute lg:bottom-8 lg:right-16 bottom-1 right-36">
    </div>
</section>