---
import equipo from "@assets/subFooter/equipoEsp.png";
---

<section>
    <div class="bg-[#0098c3] flex lg:justify-center items-center lg:p-4 px-2 py-4 lg:py-0 w-full">
        <div class="text-[#fff] flex flex-col items-center lg:w-[40%] lg:gap-4 gap-2 w-full">
            <div class="flex flex-col text-center w-full lg:text-2xl text-sm">
                <h2 class="font-bold">Equipo Especializado</h2>
                <h2>para cuidar tus pasos</h2>
            </div>
            <p class="lg:text-center w-[65%] lg:text-base text-[10px]">EN PODODINAMIC La fabricación de los soportes plantares ergonómicos personalizados, se basa en el principio de contacto total. Está a cargo por especialistas en formación continua en biomecánica de la pisada y técnicas ortopédicas de nivel europeo.</p>
        </div>
        <div class="w-[65%] lg:w-auto">
            <img src={equipo.src} alt="">
        </div>
    </div>
</section>