---
import img2 from '../assets/sliderhome/slider05.png';
import videoFondo from "../video/Estudiobiomecanico.mp4";
import trama from '../assets/sliderhome/slider06.png';
---

<main class="lg:mb-4 mb-4 lg:flex flex-col w-full justify-center">
  <swiper-container navigation="true" loop="true"  pagination="true" class="lg:w-full rounded-lg">
    <swiper-slide>
      <div class="flex justify-center items-center w-full h-full">
        <div class="lg:w-[70%] lg:h-auto aspect-video flex justify-center items-center">
          <img src={img2.src} alt="" class="w-auto h-full object-cover">
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="flex justify-center items-center w-full h-full">
        <div class="lg:w-[70%] lg:h-auto aspect-video flex justify-center items-center relative ">
          <video class="top-0 left-0 w-auto h-full lg:object-cover" autoplay loop muted >
              <source src={videoFondo} type="video/mp4">
          </video>
          <div class="absolute z-30 w-auto h-full justify-center flex">
            <img src={trama.src} alt="" class="opacity-25 w-auto h-full">
        </div>
        <div class="absolute z-50 bottom-2/4 lg:w-[90%]  flex justify-center text-center">
            <h2 class="animate-typing overflow-hidden whitespace-nowrap  pr-3 lg:text-4xl text-lg text-white font-bold">Te acompañamos, mejorando tu pisada y tu vida</h2>
        </div>
        </div>
      </div>
    </swiper-slide>
    </swiper-container>
  
</main>
  
  <script>
    import { register } from "swiper/element/bundle";
    register();
  </script>
  <style>


    swiper-container::part(button-next) {
  @apply hidden lg:block;
}
  swiper-container::part(button-prev) {
    @apply hidden lg:block;
}
  </style>