---
import img1 from '../assets/inicio/slider03.png';
import cruz from '../assets/inicio/icon01.png';
---

<main class="lg:mb-4 mb-4 flex flex-col w-full justify-center">
  <div class="text-center  w-full  right-0  flex lg:justify-center">
    <div class="lg:w-[80%] flex-wrap flex justify-center items-center">
      <h2 class="uppercase text-[#8FC751] lg:text-4xl mr-2">especialistas en</h2>
      <h2 class="uppercase text-[#1579BD] lg:text-4xl mr-2">podología,</h2>
      <h2 class="uppercase text-[#1579BD] lg:text-4xl mr-2"> biomecánica,</h2>
      <h2 class="uppercase text-[#1579BD] lg:text-4xl mr-2"> fisioterapia</h2>
      <h2 class="uppercase text-[#1579BD] lg:text-4xl "> y soportes plantares</h2>
    </div>
  </div>
  
  <div class="w-full flex items-center justify-center">
    <img src={img1.src} alt="" class="lg:w-[80%]">
  </div>
      <!---
    <swiper-slide>
        <div class="flex justify-center gap-2 items-center w-full h-full">
          <div class="h-full w-[45%] flex justify-center items-center">
            
          </div>
          <div class="text-center w-[45%] flex flex-col justify-center items-center">
            <div class="w-[90%] flex flex-col justify-center text-left">
                <span class="font-bold text-[#000]">"Cuándo llevar a un niño al podólogo?</span>
              <ul class="mt-2">
                <li>Lo importante es detectar cualquier problema a tiempo y que los padres acudan lo antes posible al podólogo.</li>
                <li>La función de la podología pediátrica es detectar y corregir posibles marchas erráticas y posturas inadecuadas mediante el uso de plantillas infantiles personalizadas y calzado biomecánico que, a largo plazo, puedan derivar en lesiones en los pies, cadera, espalda, rodillas u otras partes del cuerpo. Por tanto, ¿cuándo deberías llevar a tu hijo al podólogo infantil? Ante síntomas como estos:</li>
                <li>Has observado que tiene los pies planos, las piernas en cruz o en paréntesis; que mete las puntas de los pies hacia dentro, camina de puntillas; se cae con frecuencia o sufre lesiones o esguinces con más frecuencia de lo habitual; se queja de dolor en los pies, tobillos, rodilla, caderas o espalda; desgasta el calzado de forma irregular, etc.</li>
                <li>La mayoría de estas patologías se pueden corregir con el uso de plantillas infantiles personalizadas y calzado biomecánico.</li>
              </ul>
            </div>
          </div>
        </div>
    </swiper-slide> -->
</main>
  
  <script>
    import { register } from "swiper/element/bundle";
    register();
  </script>