---
import videoFondo from "../video/Estudiobiomecanico.mp4";
import trama from '../assets/sliderhome/slider06.png';
---
<section id="contenedor-video-padre" class="my-4 w-full lg:h-[80vh] h-full flex justify-center relative">
    <div id="contenedor-video" class="lg:w-[80%] z-[1] relative h-full flex justify-center items-center">
        <video id="background-video" class="top-0 left-0 w-full h-full object-cover z-10" autoplay loop muted >
            <source src={videoFondo} type="video/mp4">
        </video>
    </div>
</section>